{% extends "base.html" %}

{% block styles %}
<style>
    .text-center {
        text-align: center;
        font-weight: bold;
    }

    .link-group {
        margin-top: 20px;
    }

    .link-group a {
        margin-right: 10px;
    }

    .text-justify {
        text-align: justify;
    }
</style>
{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Welcome to Libracord</h1>
    <p></p>
    <h3>Sebuah tempat untuk mengabadikan literatur Anda</h3>
    <br></br>
    <div class="link-group">
        <a href="show" class="btn btn-primary"><i class="fas fa-share"></i> Start</a>
    </div>
</div>
{% endblock %}
